{% extends 'layouts/app.twig' %}
{% block title %}Essex Kent Jr. Golf Hughes Tour | {{ player.fname }} {{ player.lname }}{% endblock %}
{% block description %}{{ player.bio|slice(0, 150) }}...{% endblock %}

{% block content %}
<header class="header">
    <div class="header__container container">
        <div class="logo">
            <a href="{{ path_for('home') }}"><img src="/assets/img/header-logo.png" alt="Essex Kent JR. Golf Hughes Tour" draggable="false"></a>
        </div>

        <nav class="nav">
            <div class="nav__container container">
                <div class="menu">
                    <ul class="nav__navbar is--active">
                        <li><a href="{{ path_for('home') }}#home">Home</a></li>
                        <li><a href="{{ path_for('players') }}">Players</a></li>
                        <li><a href="{{ path_for('home') }}#schedule">Schedule</a></li>
                        <li><a href="{{ path_for('home') }}#register">Register</a></li>
                        <li><a href="{{ path_for('home') }}#contact">Contact</a></li>
                    </ul>
                </div>
                 {% include 'partials/hamburger.twig' %}
            </div>
        </nav>

    </div>
</header>

<div class="view-player-main">
    <div class="view-player-main__container container">

        <div class="top-bar">
            <div class="title-group">
                <button type="button" class="go-back"><i class="fa fa-arrow-left"></i> Go back</button>
                <h1>{{ player.fname }} {{ player.lname }}</h1>
            </div>

        </div>

        <div class="main-wrapper container--full">
            <div class="image column-4">
                <div class="image-wrapper">
                    <img src="/assets/uploads/players/{{ player.id }}/featured.jpg" draggable="false">
                </div>
            </div>

            <div class="content-wrapper column-8">
                <div class="field">
                    <h2>Player Name</h2>
                    <p>{{ player.fname }} {{ player.lname }}</p>
                </div>

                <div class="field">
                    <h2>Player Age</h2>
                    <p>{{ player.age }}</p>
                </div>

                <div class="field">
                    <h2>Player Gender</h2>
                    <p>{{ player.gender|capitalize }}</p>
                </div>

                <div class="field">
                    <h2>Player Age Group</h2>
                    <p>{{ agegroup.name }}</p>
                </div>

                <div class="field bio">
                    <h2>Player Bio</h2>
                    {{ player.bio|raw }}
                </div>
            </div>

            <div class="column-12 scores-wrapper">
                <h2>Player Scores</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Course</th>
                            {% set h = numHoles %}
                            {% for i in range(1, h) %}
                                <th>{{ i }}</th>
                            {% endfor %}
                            <th>Total</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for course in tournaments %}
                            {% if course.holes == numHoles %}
                                <tr>
                                    <td>{{ course.name }}</td>
                                    {% set h = numHoles %}
                                    {% set total = 0 %}
                                    {% for i in range(1, h) %}
                                        <td>
                                        {% for item in scores %}
                                            {% if course.id == item.tournament_id %}
                                                {% if i == item.hole_id %}
                                                    {{ item.score }}
                                                    {% set total = total + item.score %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        </td>
                                    {% endfor %}
                                    <td>{{ total }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

{% include 'partials/footer.twig' %}
{% endblock %}