<div class="admin-off-canvas">
    <ul>
        <li><a href="{{ path_for('admin.index') }}">Home</a></li>
        <li><a href="{{ path_for('agegroups.index') }}">Age Groups</a></li>
        <li><a href="{{ path_for('players.index') }}">Players</a></li>
        <li><a href="{{ path_for('scores.index') }}">Scores</a></li>
        <li><a href="{{ path_for('tournaments.index') }}">Tournaments</a></li>
        <li><a href="{{ path_for('logout') }}">Logout</a></li>
    </ul>
</div>
